@charset "UTF-8";
body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--white-color);
  margin: 0;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  margin: -1px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  border-right: 1px solid red;
  border-left: 1px solid red;
}
@media screen and (min-width: 1205px) {
  .container {
    width: 1205px;
  }
}

:root {
  --white-color: #ffffff;
  --bg-testimonial-color: #e0c097;
  --bg-blog-color: #f7f9fc;
  --bg-footer-color: #2d2424;
  --active-color: #b85c38;
  --headline-h2-color: #2D2424;
  --headline-h3-color: #333333;
  --headline-h4-color: #000000;
  --text-color: #bdbdbd;
  --brown-color: #5c3d2e;
  --hover-color: #9d4a31;
}

.btn {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: var(--white-color);
  background-color: var(--active-color);
  padding: 18px 32px;
  border-radius: 40px;
  border: none;
}

.btn:hover,
.btn:focus {
  -webkit-box-shadow: 3px 17px 15px -2px rgb(66, 68, 90);
          box-shadow: 3px 17px 15px -2px rgb(66, 68, 90);
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__btn {
  font-weight: 400;
}

.btn--transparent {
  background-color: transparent;
  border: 2px solid #fff;
  margin-left: 24px;
}

.play {
  width: 80px;
  height: 80px;
  padding: 28px;
  border-radius: 50%;
}
.play svg {
  text-align: center;
}

.menu__items a,
.link-contact,
.footer-nav__link a {
  position: relative;
  color: var(--white-color);
  -webkit-transition: 0, 3s ease;
  transition: 0, 3s ease;
}

.menu__items a:after,
.link-contact:after,
.footer-nav__link a:after {
  content: "";
  position: absolute;
  background-color: var(--hover-color);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu__items a:hover,
.menu__items a:focus,
.link-contact:hover,
.link-contact:focus,
.footer-nav__link a:hover,
.footer-nav__link a:focus {
  color: var(--hover-color);
}

.menu__items a:hover:after,
.menu__items a:focus:after,
.link-contact:hover:after,
.link-contact:focus:after,
.footer-nav__link a:hover:after,
.footer-nav__link a:focus:after {
  width: 100%;
}

.header a {
  text-decoration: none;
  color: var(--white-color);
}

.logo {
  margin-right: 224px;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  margin: 77px auto;
  z-index: 9;
}

.hero {
  background-image: url(./../images/hero/hero.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 920px;
  position: relative;
}

.hero__wrap {
  padding-top: 279px;
  text-align: center;
}
.hero__wrap button:nth-child(1) {
  margin-bottom: 40px;
}
.hero__wrap h1 {
  font-weight: 700;
  font-size: 72px;
  color: var(--white-color);
  text-shadow: 4px 2px 4px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 8px;
}
.hero__wrap p {
  font-size: 24px;
  color: var(--white-color);
  margin-bottom: 40px;
}

.menu {
  margin-right: 176px;
}

.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  font-size: 18px;
}

.features {
  padding: 120px 0 153px;
}
.features .features__description {
  width: 920px;
  font-size: 24px;
  text-align: center;
  margin: 0 auto 132px;
}

.features__title {
  font-weight: 700;
  font-size: 64px;
  color: var(--headline-h2-color);
  text-align: center;
  margin-bottom: 24px;
}

.features__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 128px 30px;
}
.features__items li {
  width: 350px;
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
}
.features__items svg {
  padding: 0 151px 30px;
}
.features__items h3 {
  font-weight: 700;
  font-size: 24px;
  color: var(--active-color);
  text-align: center;
  margin-bottom: 18px;
}
.features__items p {
  font-size: 14px;
  width: 222px;
  padding: 0 64px;
  text-align: center;
  word-wrap: break-word;
}

.features__card {
  position: relative;
}

.features__card h3:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 48px;
  height: 48px;
  top: -50%;
  left: 50%;
  background-position: center;
  background-size: cover;
  margin-top: -24px;
}

.icon-solid-fuel:before {
  background-image: url("../images/features/icon-solid-fuel.svg");
}

.icon-liquid-fuel:before {
  background-image: url("../images/features/icon-liquid-fuel.svg");
}

.icon-ion-rocket:before {
  background-image: url("../images/features/icon-ion-rocket.svg");
}

.icon-plasma-rocket:before {
  background-image: url("../images/features/icon-plasma-rocket.svg");
}

.icon-super-sonic-rocket:before {
  background-image: url("../images/features/icon-super-sonic-rocket.svg");
}

.icon-ultra-rocket:before {
  background-image: url("../images/features/icon-ultra-rocket.svg");
}

.testimonials {
  background-image: url(./../images/testimonials/testimonial.jpg);
  background-color: var(--bg-testimonial-color);
  background-repeat: no-repeat;
  background-position: left center;
  height: 600px;
}

.testimonials__card {
  width: 445px;
  padding-top: 132px;
  padding-left: 710px;
}
.testimonials__card blockquote {
  font-weight: 700;
  font-size: 48px;
  color: var(--brown-color);
  margin: 0 0 18px 0;
}
.testimonials__card p {
  font-size: 24px;
  color: var(--brown-color);
  margin-bottom: 28px;
}

.testimonials__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.testimonials__details p:nth-child(2) {
  font-size: 18px;
  color: var(--headline-h2-color);
  margin-bottom: 0;
}

.articles {
  padding: 110px 0 121px;
}

.articles__title {
  font-weight: 700;
  font-size: 64px;
  color: var(--bg-footer-color);
  text-align: center;
  margin-bottom: 35px;
}

.articles__text {
  width: 920px;
  font-size: 24px;
  margin: 0 auto 90px;
}

.articles__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px 30px;
}

.article-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 540px;
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
}

.article-card__content {
  margin-left: 30px;
}
.article-card__content h3 {
  font-weight: 700;
  font-size: 24px;
  color: var(--headline-h4-color);
  margin-bottom: 12px;
}
.article-card__content h3 + p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 12px;
}

.article-card__link {
  text-decoration: none;
  position: relative;
  font-size: 16px;
  color: var(--active-color);
}

.article-card__link::after {
  content: "";
  position: absolute;
  background-color: var(--hover-color);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.article-card__link:hover:after,
.article-card__link:focus:after {
  color: var(--hover-color);
}

.article-card__link:hover:after,
.article-card__link:focus:after {
  width: 100%;
}

.blog {
  padding: 100px 0 97px;
  background: var(--bg-blog-color);
}

.blog__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.blog__title {
  font-weight: 700;
  font-size: 48px;
  color: var(--headline-h3-color);
  margin-bottom: 24px;
}

.blog__text {
  font-weight: 400;
  font-size: 24px;
  color: var(--text-color);
  margin-bottom: 42px;
}

.blog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.blog-card {
  border-radius: 8px;
  background: var(--white-color);
}

.shadow {
  -webkit-box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.12);
}

.blog-card__content {
  padding: 25px 28px 79px 30px;
}

.blog-card__title {
  font-weight: 700;
  font-size: 30px;
  color: var(--headline-h3-color);
  margin-bottom: 24px;
}

.blog-card__text {
  font-weight: 400;
  font-size: 20px;
  color: var(--text-color);
  margin-bottom: 32px;
}

.blog-card__link {
  text-decoration: none;
  position: relative;
  font-weight: 400;
  font-size: 20px;
  color: var(--active-color);
}

.blog-card__link::after {
  content: "";
  position: absolute;
  background-color: var(--hover-color);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.blog-card__link:hover:after,
.blog-card__link:focus:after {
  color: var(--hover-color);
}

.blog-card__link:hover:after,
.blog-card__link:focus:after {
  width: 100%;
}

.review {
  padding: 113px 0 123px;
  position: relative;
  z-index: 2;
  border: 1px solid orange;
}

.curve {
  position: absolute;
  bottom: -2718px; /* Это значение зависит от вашего дизайна */
  -webkit-transform: scaleX(1.5);
          transform: scaleX(1.5);
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  border: 1px solid #ff000f;
  -webkit-transform: scaleX(1.2);
          transform: scaleX(1.2); /* Уберите масштабирование, если оно не нужно */
  border: 1px solid #ff000f;
  pointer-events: none;
}

.review__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--headline-h4-color);
  gap: 30px;
}

.review-card {
  width: 350px;
  text-align: center;
}

.review-card__image {
  margin: 0 auto 24px auto;
}

.review-card__text {
  font-size: 24px;
  margin-bottom: 24px;
}

.review-card__title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 4px;
}

.review-card__info {
  font-size: 16px;
}

.footer {
  padding: 110px 0 108px;
  background-color: var(--bg-footer-color);
  z-index: 0;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
}

.footer__address {
  white-space: nowrap;
  font-size: 16px;
}

.footer__address ul {
  font-style: normal;
  margin-top: 24px;
}
.footer__address ul li {
  margin-bottom: 18px;
}
.footer__address ul li:last-child {
  margin-bottom: 0;
}

.link-contact {
  font-weight: 400;
}

.footer__nav {
  font-weight: 700;
}
.footer__nav p {
  font-size: 24px;
  white-space: nowrap;
  color: var(--white-color);
  margin-bottom: 34px;
}
.footer__nav li {
  margin-bottom: 8px;
}
.footer__nav li:last-child {
  margin-bottom: 0;
}

.footer-nav__link a {
  font-size: 16px;
  line-height: 2;
}

.footer__subscriber p {
  font-weight: 700;
  font-size: 24px;
  color: var(--white-color);
  margin-bottom: 34px;
}

.footer__subscriber--form {
  width: 420px;
  background-color: rgba(255, 255, 255, 0.18);
  padding: 42px 28px 40px 25px;
  border-radius: 8px;
}

.footer__form--content p {
  font-weight: 400;
  font-size: 18px;
  color: var(--white-color);
  margin-bottom: 24px;
}

.footer__form--content-field {
  width: 287px;
  padding: 15px 0 14px 19px;
  border-radius: 4px;
  margin-right: 18px;
}

.footer__form--field-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__social--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0 45px;
}
.footer__social--wrapper p {
  font-size: 12px;
}

.footer__social--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.footer__social--link svg {
  -webkit-transition: stroke 0.2s ease, -webkit-transform 0.2s ease;
  transition: stroke 0.2s ease, -webkit-transform 0.2s ease;
  transition: stroke 0.2s ease, transform 0.2s ease;
  transition: stroke 0.2s ease, transform 0.2s ease, -webkit-transform 0.2s ease;
  outline: none;
  fill: var(--white-color);
  stroke: var(--white-color);
}

.footer__social--link svg:hover,
.footer__social--link svg:focus {
  fill: var(--white-color);
  stroke: var(--hover-color);
  -webkit-transform: translateY(-5px) scale(2);
          transform: translateY(-5px) scale(2);
}/*# sourceMappingURL=main.css.map */