.articles {
    padding: 110px 0 121px;
    
    & h2 {
        margin-bottom: 35px;
    }        
}

.articles {
    h2 + p {  
        width: 920px;      
        font-size: 24px;
        margin: 0 auto 90px;        
    }
}

.article-card {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 30px;
    
    & li {
        width: 540px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-basis: calc((100% - 30px) / 2);
    } 
}

.article-card__content {
    width: 310px;
    position: relative;
    & h3 {
        font-weight: 700;
        font-size: 24px;
        color: var(--headline-h4-color);
        margin-bottom: 12px;
    }

    & h3 + p {
        font-size: 16px;
        line-height: 1.6;
        margin-bottom: 12px;
    }    
}

.articles__item--link {
    text-decoration: none;
    font-size: 16px;
    color: var(--active-color);       
}

.articles__item--link::after {
    width: 0px; 
    transition: width 0.15s;       
}

.articles__item--link:hover::after                                  ,
.articles__item--link:focus::after  {
    content: " ";
  position: absolute;
  width: 30%;
  height: 2px;
  background-color: var(--hover-color);
  left: 0px;
  bottom: -10px;   
}