.footer {
    padding: 43.75rem 0 6.75rem; /* 700px -> 43.75rem, 108px -> 6.75rem */
    background-color: var(--headline-h2-color); 
    z-index: 0;  
    
    &__wrapper {
        @extend %flex-container; 
        margin-bottom: 5rem; /* 80px -> 5rem */
    }
    
    &__address {
        white-space: nowrap;   
        font-size: 1rem; /* 16px -> 1rem */

     ul {    
        font-style: normal;
        margin-top: 1.5rem; /* 24px -> 1.5rem */
    
        li {
                margin-bottom: 1.125rem; /* 18px -> 1.125rem */
                    &:last-child {
                        margin-bottom: 0;
                    }
            }
        }
    }

}

.footer__nav {
    font-weight: 700;

        &--title {              
            white-space: nowrap;   
            color: var(--white-color);
            margin-bottom: 2.125rem; /* 34px -> 2.125rem */                 
        }
        
        li {
            margin-bottom: 0.5rem; /* 8px -> 0.5rem */

                &:last-child {
                    margin-bottom: 0;
                }
            }    
}

.link-contact {
    font-weight: 400;     
}

.footer-nav__link a {    
    font-size: 1rem; /* 16px -> 1rem */
    line-height: 2;    
}

.footer-bottom {
    @extend %flex-container;
    padding: 2.5rem 0 2.8125rem; /* 40px -> 2.5rem, 45px -> 2.8125rem */
        &__text {      
            font-size: 0.75rem; /* 12px -> 0.75rem */
        }        
}