.footer {
    padding: 700px 0 108px;
    background-color: var(--headline-h2-color); 
    z-index: 0;  
    
    &__wrapper {
        @extend .flex-container; 
        margin-bottom: 80px;
    }
    
    &__address {
        white-space: nowrap;   
        font-size: 16px;   
    }
    
    &__address ul {    
        font-style: normal;
        margin-top: 24px;
            & li {
                margin-bottom: 18px;
                    &:last-child {
                        margin-bottom: 0;
                    }
            }
    }

}

.footer__nav {
    font-weight: 700;
        &--title {            
            
            white-space: nowrap;   
            color: var(--white-color);
            margin-bottom: 34px;                
        }
            & li {
                margin-bottom: 8px;
                &:last-child {
                    margin-bottom: 0;
                }
            }    
}

.link-contact {
    font-weight: 400;     
}

.footer-nav__link a {    
    font-size: 16px;
    line-height: 2;    
}

.footer-bottom {
    @extend .flex-container;
    padding: 40px 0 45px;

        &__text {      
            font-size: 12px;
        }        
}


