

.subscriber-form {    

    width: 26.25rem; /* 420px -> 26.25rem */
    background-color: rgba(255, 255, 255, 0.18);
    padding: 2.625rem 1.75rem 2.5rem 1.5625rem; /* 42px -> 2.625rem, 28px -> 1.75rem, 40px -> 2.5rem, 25px -> 1.5625rem */
    border-radius: 0.5rem; /* 8px -> 0.5rem */

        &__content {
            @extend %flex-container;
        }
        
        &__label {
            display: none;
        }

        &__title {
            font-weight: 400;
            font-size: 1.125rem; /* 18px -> 1.125rem */
            color: var(--white-color);
            margin-bottom: 1.5rem; /* 24px -> 1.5rem */   
        }

        &__field {
            width: 17.9375rem; /* 287px -> 17.9375rem */
            padding: 0.9375rem 0 0.875rem 1.1875rem; /* 15px -> 0.9375rem, 14px -> 0.875rem, 19px -> 1.1875rem */
            border-radius: 0.25rem; /* 4px -> 0.25rem */
            margin-right: 1.125rem; /* 18px -> 1.125rem */
            font-size: 0.875rem; /* 14px -> 0.875rem */
        }

}




