.header {

    a {
    color: var(--white-color);
    }

    &__wrap {
        @extend %flex-container;
        align-items: center;    
        position: absolute;
        margin: 77px auto;   
        z-index: 9;     
    }
}

.logo {
    margin-right: 224px;    
}

.menu {
    margin-right: 176px;

    &__links {
        display: flex;
        gap: 50px;
        font-size: 18px;       
    }
}



