.header {

    a {
    color: var(--white-color);
    }

    &__wrap {
        display: flex;   
        align-items: center;    
        justify-content: space-between;
        position: absolute;
        margin: 77px auto;   
        z-index: 9;     
    }
}

.logo {
    margin-right: 224px;    
}

.menu {
    margin-right: 176px;

    &__items {
        display: flex;
        gap: 50px;
        font-size: 18px;       
    }
}



