.portfolio {
    padding: 113px 0 123px;   
}

.portfolio__items {
    display: flex;
    gap: 30px;
    color: var(--headline-h4-color);

    & li {
        width: 350px;
        text-align: center;
    }

    & img {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 24px;
    }

    & p {
        font-size: 24px;
        margin-bottom: 24px;
    }

    & h4 {
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 4px;
    }

    & span {
        font-size: 16px;
    }
}