.products {
    padding: 120px 0 153px;         
   & .description {
    width: 920px;
    font-size: 24px;
    text-align: center;
    margin: 0 auto 132px;
   }
}

.headline {    
        font-weight: 700;
        font-size: 64px;
        color: var(--headline-h2-color);      
        text-align: center;  
        margin-bottom: 24px;    
}

.products__items--wrap {
    display: flex;    
    flex-wrap: wrap;
    align-items: center;
    gap: 80px 30px;    

    & li {
        width: 350px;
        flex-basis: calc((100% - 60px) / 3);
    }

    & svg {
        padding: 0 151px 30px;
    }

    & h3 {
        font-weight: 700;
        font-size: 24px;
        color: var(--active-color);        
        text-align: center;
        margin-bottom: 18px;
    }

    & p {
        font-size: 14px;
        width: 222px;
        padding: 0 64px;
        text-align: center;
        word-wrap: break-word;
    }
}

