.testimonials {
    background-image: url(./../images/testimonial.jpg);
    background-color: var(--bg-testimonial-color);
    background-repeat: no-repeat;
    background-position: left center;
    height: 600px;            
}

.testimonials__card {
    width: 445px;    
    padding-top: 132px;    
    padding-left: 710px;
       
    & blockquote {
        font-weight: 700;
        font-size: 48px;
        color: var(--brown-color);
        margin: 0 0 18px 0;           
    }
    & p {
        font-size: 24px;
        color: var(--brown-color);
        margin-bottom: 28px;
    }
}

.testimonials__details {
    display: flex;    
    align-items: center;
    gap: 24px;    
    
    & p:nth-child(2) {
        font-size: 18px;
        color: var(--headline-h2-color);
        margin-bottom: 0;
    }
}

