.testimonials {
    background-image: url(../../images/#);
    background-color: var(--bg-testimonial-color);
    background-repeat: no-repeat;
    background-size: cover;
    height: 799px;    
    position: relative;
}