body {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    color: var(--text-color);
    background-color: var(--white-color);
    margin: 0;
}

h1,
h2,
h3,

p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: green;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    margin: -1px;
}

.container {    
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    max-width: 1140px;
}