:root {
    --white-color: #ffffff;
    --bg-testimonial-color: #e0c097;
    --bg-blog-color: #f7f9fc; 
    --bg-footer-color: #2d2424;
    --active-color: #b85c38;
    --headline-h2-color: #2D2424;
    --headline-h3-color: #333333;
    --headline-h4-color: #000000;
    --text-color: #bdbdbd;
    --brown-color: #5c3d2e;
    --hover-color: #9d4a31;
}

