.articles {
    padding: 110px 0 121px; 

    &--title {    
        text-align: center;
        margin-bottom: 35px;
    }
    
    &__description {  
        
        margin: 0 auto 90px;       
    }

    &__items {
        @extend .flex-container;
        flex-wrap: wrap;
        gap: 40px 30px;   
    }
}

.article-card {
    display: flex;    
    align-items: center;
    width: 540px;          
    flex-basis: calc((100% - 30px) / 2);

    &__content {    
        margin-left: 30px;         
    }
    
    &__text {
        font-size: 16px;
        line-height: 1.6;
        margin-bottom: 12px;
    }    
    
    &--title {            
        color: var(--headline-h4-color);
        margin-bottom: 12px;
    }

    &__link {    
        position: relative;
        font-size: 16px;
        color: var(--active-color);    
        
        &::after {
            content: "";
            position: absolute;
            background-color: var(--hover-color);    
            height: 3px;     
            width: 0;
            left: 0;
            bottom: -10px;
            transition: 0.3s;  
        }

        &:hover:after,                            
        &:focus:after  { 
            width: 100%;
        }        
    }

}










