.articles {
    padding: 110px 0 121px; 
}

.articles__title {    
    font-weight: 700;
    font-size: 64px;
    color: var(--bg-footer-color);
    text-align: center;
    margin-bottom: 35px;
}

.articles__text {    
    width: 920px;      
    font-size: 24px;
    margin: 0 auto 90px;       
}

.articles__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px 30px;   
}

.article-card {
    display: flex;    
    align-items: center;
    width: 540px;          
    flex-basis: calc((100% - 30px) / 2);
}

.article-card__content {    
    margin-left: 30px;    
        & h3 {
            font-weight: 700;
            font-size: 24px;
            color: var(--headline-h4-color);
            margin-bottom: 12px;
        }

        & h3 + p {
            font-size: 16px;
            line-height: 1.6;
            margin-bottom: 12px;
        }    
}

.article-card__link {
    
    position: relative;
    font-size: 16px;
    color: var(--active-color);       
}

.article-card__link::after {
    content: "";
    position: absolute;
    background-color: var(--hover-color);    
    height: 3px;     
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;  
}

.article-card__link:hover:after,                                
.article-card__link:focus:after  {
    color: var(--hover-color);  
}

.article-card__link:hover:after,
.article-card__link:focus:after {
    width: 100%;
}
