.blog {
    padding: 100px 0 97px;
    background: var(--bg-blog-color);

    &__wrapper {
        display: flex;
        gap: 30px;
    }
    
    &--title {    
        color: var(--headline-h3-color);
        margin-bottom: 24px;
    }
    
    &__description {
        font-weight: 400;
        font-size: 24px;
        color: var(--text-color);
        margin-bottom: 42px;
    }
    
    &__list {
        display: flex;
        gap: 30px;
    }
    
}



.blog-card {
    border-radius: 8px;  
    background: var(--white-color);  
    
    &.shadow {
        box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.12);
    }

    &__content {
        padding: 25px 28px 79px 30px;
    }
    
    &--title {
        font-weight: 700;
        font-size: 30px;
        color: var(--headline-h3-color);
        margin-bottom: 24px;
    }
    
    &__text {
        font-weight: 400;
        font-size: 20px;
        color: var(--text-color);
        margin-bottom: 32px;
    }


}

.blog-card__link {   
    position: relative;
    font-weight: 400;
    font-size: 20px;
    color: var(--active-color);

    &::after {
        content: "";
        position: absolute;
        background-color: var(--hover-color);    
        height: 3px;     
        width: 0;
        left: 0;
        bottom: -10px;
        transition: 0.3s;  
    }

    &:hover:after,
    &:focus:after {
       width: 100%;
    }

}



