.features {
    padding: 120px 0 153px;         
    & .features__description {
        width: 920px;
        font-size: 24px;
        text-align: center;
        margin: 0 auto 132px;
    }
}

.features__title {    
    font-weight: 700;
    font-size: 64px;
    color: var(--headline-h2-color);      
    text-align: center;  
    margin-bottom: 24px;    
}

.features__items {
    display: flex;    
    flex-wrap: wrap;
    align-items: center;
    gap: 128px 30px;    

    & li {
        width: 350px;
        flex-basis: calc((100% - 60px) / 3);
    }

    & svg {
        padding: 0 151px 30px;
    }

    & h3 {
        font-weight: 700;
        font-size: 24px;
        color: var(--active-color);        
        text-align: center;
        margin-bottom: 18px;        
    }

    & p {
        font-size: 14px;
        width: 222px;
        padding: 0 64px;
        text-align: center;
        word-wrap: break-word;
    }
}

.features__card {
    position: relative;
}

.features__card:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 48px;
    height: 48px;
    top: -50%;
    left: 50%;
   
    background-position: center;
    background-size: cover;
    margin-top: -24px;
}

.icon-solid-fuel:before {
    background-image: url("../images/features/icon-solid-fuel.svg");
}

.icon-liquid-fuel:before {
    background-image: url("../images/features/icon-liquid-fuel.svg");
}

.icon-ion-rocket:before {
    background-image: url("../images/features/icon-ion-rocket.svg");
}

.icon-plasma-rocket:before {
    background-image: url("../images/features/icon-plasma-rocket.svg");
}

.icon-super-sonic-rocket:before {
    background-image: url("../images/features/icon-super-sonic-rocket.svg");
}

.icon-ultra-rocket:before {
    background-image: url("../images/features/icon-ultra-rocket.svg");
}