.review {
    padding: 113px 0 221px; 
    background-image: url(./../images/review/bg-ellips.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    position: absolute;
    z-index: 1; 
    width: 100%;

    &__list {
        display: flex;
        justify-content: space-between;
        color: var(--headline-h4-color);   
        gap: 30px; 
    }

}

.review-card {
    width: 350px;
    text-align: center;

    &__image {
        margin: 0 auto 24px auto;    
    }
    
    &__text {
        font-size: 24px;
        margin-bottom: 24px;
    }
    
    &--title {
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 4px;
    }
    
    &__info {
        font-size: 16px;
    }

}

