.review {
    padding: 113px 0 123px; 
    position: relative;
    z-index: 2;    
    border: 1px solid orange;  
    // clip-path: ellipse(75% 20% at 50% 100%); 
}

.curve {
    position: absolute;
  bottom: -2718px; /* Это значение зависит от вашего дизайна */
  transform: scaleX(1.5);
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  border: 1px solid #ff000f;
  transform: scaleX(1.2); /* Уберите масштабирование, если оно не нужно */
    border: 1px solid #ff000f;
    pointer-events: none;
}





.review__list {
    display: flex;
    justify-content: space-between;
    color: var(--headline-h4-color);   
    gap: 30px; 
}
.review-card {
    width: 350px;
    text-align: center;
}
.review-card__image {
    margin: 0 auto 24px auto;    
}
.review-card__text {
    font-size: 24px;
    margin-bottom: 24px;
}
.review-card__title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 4px;
}
.review-card__info {
    font-size: 16px;
}