.testimonials {
    background-image: url(./../images/testimonials/testimonial.webp);
    background-color: var(--bg-testimonial-color);
    background-repeat: no-repeat;
    background-position: left center;
    height: 600px;            
}

.testimonial-card {
    width: 445px;    
    padding: 132px 0 0 710px;    
       
    & blockquote {        
        color: var(--brown-color);
        margin: 0 0 18px 0;           
    }
    
    &__description {
        font-size: 24px;
        color: var(--brown-color);
        margin-bottom: 28px;
    }
}

.testimonial__details {
    display: flex;    
    align-items: center;
    gap: 24px;    
    
    & p:nth-child(2) {
        font-size: 18px;
        color: var(--headline-h2-color);
        margin-bottom: 0;
    }
}

